<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
        <script rel="javascript" src="/js/reload_on_back.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <title>Dashboard</title>
    </head>
     <body>
      <div class="content">
       
        <div class="header">
          <div class="title"><h1>{{title}}</h1></div>
          <div class="always-present-buttons">
            <button class="button header-profile-link" href='/{{type}}/profile'> <i class="fas fa-user"></i> <span>{{name}}</span></button>
            <form style='display:inline' action="/{{type}}/logout" method='post'>
            <button type='submit'>Logout</button>
            </form>
            <form style='display:inline' action="/{{type}}/logoutAll" method='post'>
            <button type='submit'>LogoutAll</button>
            </form>
          </div>
        </div>

        <div class="main-content">
                
          <form action="/students/pretest" method='get' id = 'studenttest'>
          <label for="category">Choose a subject:</label>
            <select name="category" id="subjects">
              <option value="22">Geography</option>
              <option value="17">Science and Nature</option>
              <option value="19">Mathematics</option>
              <option value="11">Entertainment:Movies</option>
            </select>
            <button type='submit'>Start Test</button>
          </form>
        
          <span>
            <button class = "diffun button" href = "{{goto}}">{{destination}}</button>
          </span>
          <script>
            var student_test = document.getElementById('studenttest')
            if({{{type_str}}}=='teachers') student_test.remove()
          </script>
          <script defer src="/js/buttons.js"></script>
        </div>
      </div>
     </body>
</html>