<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
      <title>Dashboard</title>
    </head>
     <body>
       <h1>DashBoard</h1>
       <div>
       <i class="fas fa-user"></i>
       <span>{{name}}</span>
       </div><br>
       <div>
       <form action="/{{type}}/logout" method='post'>
       <input type='submit' value='Logout'>
       </form>
       <br>
       <form action="/{{type}}/logoutAll" method='post'>
       <input type='submit' value='LogoutAll'>
       </form>
       </div>

       
    <form action="/students/test" method='get'>
    <label for="category">Choose a subject:</label>
      <select name="category" id="subjects">
        <option value="22">Geography</option>
        <option value="17">Science and Nature</option>
        <option value="19">Mathematics</option>
        <option value="11">Entertainment:Movies</option>
      </select>
      <input type='submit' value="Create Test">
    </form>

    <div>
      <button class = "diffun"><a href = "{{goto}}">{{destination}}</a></button>
      <button class = "diffun2"><a href = "{{goto2}}">{{destination2}}</a></button>
    </div>

     </body>

</html>