<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        
        <div class= "header">
            <h2>{{title}}</h2>
        </div>
        <div class="main-content">
                <br>
                <br>
                <button  class = "login-btn" ><a href="{{gotoLogin}}">{{login}}</a></button> 
                <br>
                <br>
                <button class = "register-btn" ><a href="{{gotoRegister}}">{{register}}</a></button> 
                <br>    
        </div>
        
        
   <!-- <div><script src="/js/face.js"></script></div> -->
    
    </body>
</html>
