<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        
        <div class= "header">
            <h2>{{title}}</h2>
        </div>
        <div class="main-content">
                <br>
                <br>
                <button class = "login-btn button" href="{{gotoLogin}}">{{login}}</button> 
                <br>
                <br>
                <button class = "register-btn button" href="{{gotoRegister}}">{{register}}</button> 
                <br>    
        </div>
        
    <script defer src="/js/buttons.js"></script>
    </body>
</html>
