<!DOCTYPE html>
<html>
    <head>
        
        <title>Test Results</title>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
                <script type="text/javascript">
function print_webpage()
{
 var printContent = document.getElementsByTagName('body')[0];
 var WinPrint = window.open('', '', 'width=700,height=650');
 WinPrint.document.write(printContent.innerHTML);
 WinPrint.document.close();
 WinPrint.focus();
 WinPrint.print();
 WinPrint.close();
}

function print_div()
{
 var printContent = document.getElementById('print_div');
 var WinPrint = window.open('', '', 'width=700,height=650');
 WinPrint.document.write(printContent.innerHTML);
 WinPrint.document.close();
 WinPrint.focus();
 WinPrint.print();
 WinPrint.close();
}
</script>

        
    </head>
    <body>
        <div id="print_div">
        <h4>{{message}}</h4>
        <h4>Total Marks Scored:</h4>
        <h3>{{totalMarks}}/20</h3>

    
    <div id='questions'>


    </div>
    </div>

    <br>
    <div class ="download">
        <p>Download a Copy of this Page Here</p>
        <input type="button" class="print_button" value="Download" onclick="print_div();"> 
    </div>
    <div>
        <button><a href = "/students/dashboard">Dashboard</a></button>
    </div>

        <script> 
            var questions = {{{ques}}}
            var answers = {{{ans}}}
            var problems = {{{prob}}}
            var correct = {{{correctMap}}}
            var attempted = {{{att}}}

           
        </script>

        <script src="/js/testResults.js"></script>
    </body>
</html>
