<!DOCTYPE html>
<html>
    <head>
        
        <title>Test Results</title>
        <script src="https://kit.fontawesome.com/a392ca20cf.js" crossorigin="anonymous"></script>
      
    </head>
    <body>
        <div id="print_div">
        <h4>{{message}}</h4>
        <h4>Total Marks Scored:</h4>
        <h3 id='totalmarks'></h3>

    
    <div id='questions'>


    </div>
    </div>

    <br>
    <div id='not-printable'>
    <div class ="download">
        <p>Download a Copy of this Page Here</p>
        <input type="button" class="print_button" value="Download" onclick="printresult()"> 
    </div>
    <div>
        <button><a href = "/students/dashboard">Dashboard</a></button>
    </div>
    </div>

        <script> 
            var questions = {{{ques}}}
            var answers = {{{ans}}}
            var problems = {{{prob}}}
            var correct = {{{correctMap}}}
            var attempted = {{{att}}}
            const totalmarks_DOM = document.querySelector('#totalmarks')
            totalmarks_DOM.innerHTML= {{{totalMarks}}}+'/'+questions.length
            function printresult(){
                const download_Div= document.querySelector('#not-printable')
                download_Div.style.display= 'none'
                window.print()
                download_Div.style.display='block'
            }
           
        </script>

        <script src="/js/testResults.js"></script>
    </body>
</html>
