<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <title>Insight</title>
        <link rel="icon" href="../../utils/img/searchW2.png">
    </head>
    <body>
        <div class= "header">
        <h1>{{title}}</h1>
        </div>
        <br>
        <button><a href="/{{type}}/dashboard" class="getDashboard" method = "get">Dashboard</a></button>
        <br>
        <h3>Fill Those Fields which are required to be updated and Leave others blank</h3>

    <form id="theImageForm" action = "/{{type}}/profile/avatar" method = "post" enctype="multipart/form-data">
        <label for="theImageField" id="theImageContainer">
            <input type="file" id="theImageField" accept="image/png, image/jpeg" name="avatar">
            <p>Click here to Upload an Image, Select Image and then Click Upload to Set new Profile Picture </p>
        </label>
        <button class="btn btn-lg btn-primary" type="submit">Update Profile Picture</button>
        <button><a href="/{{type}}/profile/avatar/delete" id="clearImage" method = "get">Remove</a></button>
        <p class='message' style='display:none'></p>
    </form>
    <br>
    


        <div class="main-content">

                <br>
                <form id="updateForm" method ="post" action = {{goto}}>
                    
                    <label for="name">Name</label><br>
                    <input type="text" name="name" id="name" ><br>
                    <label for="age">Age</label><br>
                    <input type="number" name="age" id="age" ><br>
                    <label for="email">Email</label><br>
                    <input type="email" name="email" id="email" ><br>
                    <label id = 'subjects'>Choose a subject:<br>
                        <select name="subject" id="subjects">
                            <option value=''></option>
                            <option value="22">Geography</option>
                            <option value="17">Science and Nature</option>
                            <option value="19">Mathematics</option>
                            <option value="11">Entertainment:Movies</option>
                        </select><br>
                    </label>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" minlength=6 ><br>
                    <button type="submit" form="updateForm" id="submit">Submit</button>
                </form>
                
                <br>
        </div>

        <script>
        if({{{type_str}}}=='students')
         {
             var sub_options = document.querySelector('#subjects')
             sub_options.remove()
         }
         var update_picture= document.querySelector("#theImageForm > button.btn.btn-lg.btn-primary")
         update_picture.addEventListener('click',(e)=>{
             
             if(document.querySelector('[type="file"]').value===''){
                 e.preventDefault()
                 alert('Please Select an Image first')
             }
             
         })
         
        </script>
        
    </body>
</html>
